body {
    padding: 25px;
    text-align: center;
}
.btn-outline-warning {
    margin-bottom: 20px;"
}
.btn-outline-success {
    margin: 5px;
}

pre {
    color: white;
    text-align: justify;
}
.table.table-sm.table-dark td, th {
    padding: 15px;
}
table, pre {
    font-family: SansSerif, "DejaVu Sans";
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
}
table a, .t {
    color: white;
    text-underline: none;
}
table a:visited, a:hover {
    color: white;
}
#register {
    margin: 0 auto;
    width: 350px;!important;
}
.admin {
    float: right;
    font-weight: bold;
    font-family: SansSerif, "DejaVu Sans";
}
.btn-exit, .btn-login {
    display: block;
    border: 1px solid maroon;
    width: 70px;
    height: 30px;
    background-color: transparent;
    float: left;
    margin-right: 5px;
    outline-style: none;
    padding: 1px;
    color: black;
}
.btn-addd {
    display: block;
    border: 1px solid maroon;
    width: 140px;
    height: 30px;
    background-color: transparent;
    outline-style: none;
    padding: 1px;
    color: black;
    margin: 0 auto;
}
.btn-addd:hover {
    color: inherit;
    cursor: pointer;
    background-color: #f33155;
}

.btn-exit:hover, .btn-login:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    background-color: #f33155;
}
