form {
    width: 80%;
    border: 1px dashed orangered;
    margin: 0 auto;
    padding: 5px 15px;
    height: auto;
    overflow: hidden;
}
span {
    color: rebeccapurple;
}
.currentDir {
    background-color: darkslategrey;
    color: white;
    width: auto;
    max-width: 352px;
    height: auto;
    word-break: break-all;
    float: right;
}
img {
    width: 16px;
    height: 16px;
}
.left, .right {
    float:left;
    border: 1px solid red;
    margin: 5px;
    padding: 5px;
}
.right p {
    margin: 0;
    padding: 0;
}